{{#each playlists}}
  <section>
    <h2 class="ui header" style="margin-top: 1.5rem;">
      {{title}}    
    </h2>
    <p>Total Duration: {{duration}}</p>
    <!--  Open Playlist  -->
    <a href="/playlist/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <!--  Delete Playlist  -->
    <a href="/dashboard/deleteplaylist/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
    </a>
  </section>
{{/each}}